.currentAct{
    display: flex;
    flex-direction: column;
}
.Actnames{
    display: flex;
    flex-direction: row;
    
    width: 100%;

}
.date{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}
info{
    display: flex;
}
.title{
    margin: auto;
}
hr.style3 {
    margin-top:60px; 
    border-top: 1px dashed #8c8b8b;
}

div.Actnames p {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
}

div.titleAndInf {
    margin: auto !important;
}

