.Cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container {
  margin-top: 45px;
  margin-bottom: 45px ;
  width: 30%;
  max-width: 250px;
  height: 150px;
  background: white;
  border-radius: 10px;
}

.inner {
  background: #00B6FF;
  padding: 1em;  
  height: 100%;
  border-radius: 10px;
  width: 100%;
  clip-path: circle(50% at 10% 10%);
  transition: clip-path .5s ease-in-out;
}

.inner p {
  color: white;
  font-size: 1.2rem;
}

.inner :link {
  text-decoration: none;
}

.inner h1 {
  color: white;
  margin: 0;
  font-size: 1.75rem;
}

.container:hover .inner {
  clip-path: circle(75%);
}