.Cards{
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-decoration: none;

}

.cardImg{
}
.cardImg--empty{
}
.cardImg--empty:hover{
    width: 250px;
}

.cardName{
    text-decoration: none;
    color: black;
}
.cardTittle{
    color: black;
    text-decoration: none;
}