.progects{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pro{
    max-width: 1000px;
}
h1{
    color:  #ff8000 ;
    font-size: 40px;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image{
    display: block;
    max-width: 700px;
    max-height: 400px;
    min-height: 250px;
    width: auto;
    height: auto;
    transition: transform .4s; /* Animation */
}
.image:hover{
    transform: scale(1.5);
}