.progects{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-content: center;
    align-self: center;
    flex-direction: column;
}

h1{
    color:  #e68523 ;
    font-size: 40px;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
}
.image{
    display: block;
    max-width: 700px;
    max-height: 400px;
    min-height: 250px;
    height: 100%;
    transition: transform .4s; /* Animation */
}
.image:hover{
    transform: scale(1.5);
}
img.headImg {
    margin-top: 8px;
}

img.image {
    margin: 4px;
}
.headImg {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 25px 0 25px 25px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
    font-family: sans-serif;
  }
  
 .texti{
     max-width: 800px;
  
    margin: auto;
 }