.App-header {
    height: inherit;
    color: black;
    font-size: 40px;
}
.meImg{
  border-radius: 50%;
}
.profileLinks{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.ln{
  margin: 1%;
}
.git{
  margin: 1%;
}
.headImg{
  max-width: 50px;
}
.infoTex{
  font-size: 15px;
  width: 100%;
  margin: 0%;
}
.infoP{
  height: 10px;
}