.App-header {
    padding: 0;
    display: flex;
    height: 500px;
    width: 100%;
    font-size: 30px;
    background-image: url("/header.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    background-size: cover;
}
.meImg{
  border-radius: 50%;
}
.profileLinks{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.ln{
  margin: 1%;
}
.git{
  margin: 1%;
}
.headImg{
  max-width: 50px;
}
.infoTex{
  font-size: 15px;
  width: 100%;
  margin: 0%;
}
.infoP{
  height: 10px;
}

.headImg {
  height: 5rem;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}

.headImg:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

h1.App-title {
  margin: auto;
}

div.infoAndLinks {
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
}

div.infoTex {
  height: 100px;
}

div.profileLinks {
  margin-bottom: 1px;
}

div.infoTex {
  height: auto;
  color: #ffffff;
}
